.container
{

}
.textLogo
{
  text-align: center;
}
.Tracks
{
  background-color: rgba(255, 255, 255, 0.15);
  overflow: auto;
  scrollbar-color: white;
  scrollbar-width: thin;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 300px;
  height: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px pink;

}
.Tracks p {
    color: white;

    display: inline; /* Display text as inline so the background color only affects the text */
}
.title
{
  width: 1300px;
  font-size: 50px;
  text-align: center;
}
.navbar {
  /*  background-color: #333;*/
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of the links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
body
{
  background-image: url("bg01.png");
}
p{
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px pink
}
.login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 70px;
}

h2 {
    margin: 0 0 20px 0;
}
form {
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
