html {
    height: 100%; /*credit: Madara's Ghost on https://stackoverflow.com/questions/7049875/why-doesnt-height-100-work-to-expand-divs-to-the-screen-height*/
}
main {
    width: 100%;
    font-size: 100%;
    height: 100%;
}
main h1 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
}
body {
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    height: 75%;
    width: 100%;
}

button {
    cursor: pointer;
    font-size: 100%;
}

main p {
    font-size: large;
}

.settings_table{
    height: 15%;
    display: inline-block;
    width: 50%;
}

#account_info_main_table {
    border: 1px solid rgb(36, 35, 35);
    font-size: large;
    width: 100%;
    background-color: rgb(245, 245, 245);
    min-height: 100%;
    display: inline-block;
}

/* username pop-up*/ 
.modal_container {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    align-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
    height: 75%;
    align-items: center;
    align-content: center;
}

.modal h1 {
    margin: 0;
}

.modal h2 {
    font-size: xx-large;
}

.modal p, label, input {
    font-size: large;
}

/*email address pop-up*/
.modal_container_email {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container_email.show {
    opacity: 1;
    pointer-events: auto;
}

.modal_email {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
    height: 75%;
}

.modal_email h1 {
    margin: 0;
}

/*password pop-up*/
.modal_container_password {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    align-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container_password.show {
    opacity: 1;
    pointer-events: auto;
}

.modal_password {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
    height: 75%;
}

.modal_password h1 {
    margin: 0;
}



/*contact us pop-up*/
.modal_container_contact_us {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container_contact_us.show {
    opacity: 1;
    pointer-events: auto;
}

.modal_contact_us {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
}

.modal_contact_us h1 {
    margin: 0;
}

/* username response pop-up*/ 
.modal_container_response {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container_response.show {
    opacity: 1;
    pointer-events: auto;
}

.modal_response {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
}

.modal_response h1 {
    margin: 0;
}

/*email address pop-up response*/
.modal_container_email_response {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container_email_response.show {
    opacity: 1;
    pointer-events: auto;
}

.modal_email_response {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
}

.modal_email_response h1 {
    margin: 0;
}

/*password pop-up response*/
.modal_container_password_response {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container_password_response.show {
    opacity: 1;
    pointer-events: auto;
}

.modal_password_response {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
}

.modal_password_response h1 {
    margin: 0;
}

/*contact us pop-up response*/
.modal_container_contact_us_response {
    background-color: rgb(93, 93, 93);
    position: absolute; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    top: 0;
    left: 0;
    bottom: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    right: 0; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3 ease;
    pointer-events: none;
    /* Joseph Silber and john Smith on:
    https://stackoverflow.com/questions/14402038/how-to-position-a-container-in-the-middle-of-the-screen */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto; /*https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally*/
}

.modal_container_contact_us_response.show {
    opacity: 1;
    pointer-events: auto;
}

.modal_contact_us_response {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px 40px;
    width: 75%;
    max-width: 100%;
}

.modal_contact_us_response h1 {
    margin: 0;
}


/* buttons */
#open_edit_username_modal_btn.inactive {
    pointer-events: none;
}

#open_edit_email_modal_btn.inactive {
    pointer-events: none;
}

#open_edit_password_modal_btn.inactive {
    pointer-events: none;
}

#open_contact_us_modal_btn.inactive {
    pointer-events: none;
}


